@import url('https://fonts.cdnfonts.com/css/roundedsquare');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-neon {
    font-family: 'RoundedSquare', sans-serif;
}

.primary-bg-color {
    @apply bg-[#242424];
};

.secondary-bg-color {
    @apply bg-[#41414e]
};

.menu-text {
    @apply text-xs text-white transition duration-1000 hover:text-orange-600 font-medium uppercase
};

.icon-color {
    @apply hover:fill-orange-500 fill-[#6d6c6c] transition duration-1000
}

.section-title {
    @apply lg:text-6xl text-5xl uppercase text-[gray] font-neon
}

.primary-button {
    @apply bg-[#242424]
};

body {
     @apply bg-[#171717] bg-fixed bg-no-repeat bg-center bg-cover;
}

/* For Chrome, Edge, Safari */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #242424 !important; /* Set background to black */
    color: white !important; 
    -webkit-box-shadow: 0 0 0px 1000px #242424 inset !important; 
    -webkit-text-fill-color: white !important;
}

/* For Firefox */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
    background-color: #242424 !important; /* Set background to black */
    color: white !important; /* Set text color to white */
    box-shadow: 0 0 0px 1000px #242424 inset !important; /* Ensures background color is black */
    -moz-text-fill-color: white !important; /* Set text color to white */
}

:root {
    --noise-texture: url(/vhs/noise.png);
    --gif-texture: url(/vhs/vhs.gif);
  }
  
.vhs, .vhs-h {
  box-sizing: border-box;
  animation: spawn 2s ease-in-out forwards;
  position: relative;
}

/* For immediate effect */
.vhs:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--noise-texture);
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 3;
}

.vhs:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--gif-texture);
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 64%;
  z-index: 4; /* Ensures it is above the :before pseudo-element */
}

.noise-bg {
  background-image: var(--noise-texture);
  mix-blend-mode: overlay;
}

/* For hover effect */
.vhs-h:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--noise-texture);
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 3;
}

.vhs-h:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--gif-texture);
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 64%;
  z-index: 4; /* Ensures it is above the :before pseudo-element */
}
