/* @import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .font {
    font-family: 'Bebas Neue', cursive;
}

.regularfont {
    font-family: 'Montserrat', sans-serif;
} */
body{
  @apply bg-[#eef6f8]
}

.dropdown:hover .dropdown-menu {
    display: block;
}

::-webkit-scrollbar {
  @apply h-2 w-2 m-1 hidden;
}

::-webkit-scrollbar-track {
  @apply bg-[gray];
}
     
::-webkit-scrollbar-thumb {
  @apply bg-orange-500 h-10 w-10;
}

textarea::placeholder {
  @apply text-center text-[#464646]
}

.glassmorphism{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}
